* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Arial', sans-serif;
    color:#fff;
    background-color:#f0f0f0;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Verde */
}
 
header .logo img {
    height: 70px; /* disminui el tamaño */
    
}
 
nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}
 
nav ul li {
    display: inline;
}
 
nav ul li a {
    color: #347C22;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
 
nav ul li a:hover {
    color: #cccccc;
}
 
.hero {
    position: relative;
    background: url('image/pexels-weekendplayer-186464.jpg') no-repeat center center/cover;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 55px; /* Para dar espacio a los botones */
}
 
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
 
.hero .content {
    position: relative;
    z-index: 2;
}
 
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
 
.buttons {
    display: flex;
    gap: 20px;
}
 
.btn {
    padding: 10px 30px; /* Aumenté el tamaño de los botones */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    

    
}
 
.learn-more {
    background-color: #ffffff;
    color: #347C22;
}
 
.learn-more:hover {
    background-color: #e0e0e0;
}
 
.contact-us {
    background-color: #347C22;
    color: #ffffff;
}
 
.contact-us:hover {
    background-color: #285617;
}
 
/* Estilos para las tarjetas de servicios */
.services {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;
    color: #000;
}
 
.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}
 
.card h3 {
    color: #347C22;
    margin-bottom: 10px;
}
 
.card p {
    margin-bottom: 20px;
    font-size: 1rem;
}
 
.card-btn {
    color: #347C22;
    text-decoration: none;
    font-weight: bold;
    top: 30%;
    transition: color 0.3s;
}
 
.card-btn:hover {
    color: #285617;
}
 
/* Sección de bienvenida */
.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
    color: #000;
}
 
.welcome-text { /* cambie el tamaño  */
    width: 60%;
}
 
.welcome-text h2 {
    color: #347C22;
    margin-bottom: 20px;
}
 
.welcome-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
 
.welcome-text .know-more {
    background-color: #347C22;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
 
.welcome-text .know-more:hover {
    background-color: #285617;
}
 
.welcome-image {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor */
}
.welcome-image img {
    width: 80%; /* Ajusta el ancho al 80% del contenedor */
    max-width: 1200px; /* Ancho máximo para evitar que se agrande demasiado */
    height: auto; /* Mantiene la proporción */
    border-radius: 0px; /* Mantiene el borde sin redondear */
}
 
 
/* Estilos para "Our Services" */
.our-services {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    color: #000;
}
 
.our-services h2 {
    color: #347C22;
    margin-bottom: 40px;
    font-size: 2rem;
}
 
.our-services .service-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 30px;
}
 
.our-services .service-card {
    background-color: #e9e7e7;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-wrap: wrap;
}
 
.our-services .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
 
.our-services .service-card h3 {
    color: #347C22;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
 
.our-services .service-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}
 
.our-services .service-card .service-icon { /*se cambio el tamaño, posición y demás */
    justify-content:space-around;
    margin-bottom: 40px;
    width: 110px;
    height: 110px;
    font-size: medium;
    image-resolution: 150px;
    position: relative;
    top: 5%;
    left: 25%;
   


}
/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    top: 100%;
    left: 30px;
    overflow: hidden;
    width: 100%;
}
 
.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

/*Carrusel de los simuladores*/
.our-simulators {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    color: #000;
}
 
.our-simulators h2 {
    color: #347C22;
    margin-bottom: 40px;
    font-size: 2rem;
}

.carousel1-container {
    position: relative;
    top: 100%;
    left: 30px;
    overflow: hidden;
    width: 100%;
}
 
.carousel1 {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.service1-card {
    background-color: #e9e7e7;
    padding: 56px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 255px;
    flex: 0 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
}
 
.service1-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
 
.service1-card h3 {
    color: #187201;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
 
.service1-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}
 
.service1-icon {
    margin-bottom: 30px;
    width: 90px;
    top: 45px;

}
 
.service1-icon img {
    width: 90%;
    height: 100%;
    top: 35%;
    left: 24%;
    margin-top: 5%;
    margin-block: 5%;
    image-resolution: 100;
}
 
.simulator-link {
        text-decoration: none;
        color: #036d25;
        font-size: 18px;
        font-weight: bold;
    }



/* Botones de navegación del carrusel de la página inicial*/
.carousel1-btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: #347C22;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s;
}
 
.prev-btn {
    left: 10px;
}
 
.next-btn {
    right: 10px;
}
 
.carousel1-btn:hover {
    background-color: #285617;
}
 
/* Estilos responsive */
@media (max-width: 768px) {
    .service1-card {
        width: 150px;
    }
}
 
@media (max-width: 480px) {
    .service1-card {
        width: 100px;
    }
}
 
/* Estilo de las tarjetas */
.service-card {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 225px;
    flex: 0 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
}
 
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
 
.service-card h3 {
    color: #347C22;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
 
.service-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}
 
.service-icon {
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
}
 
.service-icon img {
    width: 100%;
    height: 100%;
}
 
/* Botones de navegación del carrusel de la página inicial*/
.carousel-btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: #347C22;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s;
}
 
.prev-btn {
    left: 10px;
}
 
.next-btn {
    right: 10px;
}
 
.carousel-btn:hover {
    background-color: #285617;
}
 
/* Estilos responsive */
@media (max-width: 768px) {
    .service-card {
        width: 150px;
    }
}
 
@media (max-width: 480px) {
    .service-card {
        width: 100px;
    }
}

